
<table class="table table-striped">

    <tr class="bg-warning table-responsive table-bordered table-striped">

             <th><h1><p align="center"> SISTEMA ACADEMICO</p></h1></th>

    </tr>
</table>

<ul class="nav nav-tabs">
    <li role="presentation" class="active "><a href="#!/">Home</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
            Cadastro <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#!cadastroCurso">Curso</a></li>
            <li><a href="#!cadastroDisciplina">Discplina</a></li>
            <li><a href="#!cadastroAluno">Aluno</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
            Listar <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#!listarCursos">Cursos</a></li>
            <li><a href="#!listarDisciplinas">Discplinas</a></li>
            <li><a href="#!listarAlunos">Alunos</a></li>
        </ul>
    </li>

    <li role="presentation" class="dropdown">
            <li><a href="#!matriculaAlunoDisciplina">Cadastrar Aluno na Disciplina</a></li>
    </li>

</ul>